<h3 style="margin:0 auto;">Update Appointment: {{appointment._id}}</h3>
<form  (ngSubmit)='onSubmit()' [formGroup]="appointmentForm">
  <div class="form-group">
    <label for="appointmentDate">Appointment Date: {{appointment.appointment.appointmentDate}} </label>
    <input type="text" class="form-control" formControlName="appointmentDate" id="appointmentDate"  >
    <small id="appointmentDate" class="form-text text-muted">DD/MM/YYYY</small>
  </div>
  <div class="form-group">
    <label for="name">Name: {{appointment.appointment.name}}</label>
    <input type="input" class="form-control" formControlName="name" id="name">
  </div>
  <div class="form-group">
    <label for="email">Email: {{appointment.appointment.email}} </label>
    <input type="email" class="form-control" formControlName="email" id="email" >
  </div>
  <button type="submit"  class="btn btn-primary">Submit</button>
</form>

